.Titulo {
    text-align: center;
    font-size: 35px; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
    font-weight: bold; /* Puedes ajustar el peso de la fuente según tus necesidades */
    margin-top: 25px; /* Puedes ajustar el margen superior según tus necesidades */
    margin-bottom: 25px;
}

.card {
    display: flex;
    justify-content: center;
}

.texto {
    position: absolute;
    top: 2vh;
    left: 2vw;
    color: white;
    font-Size: 1.8vw;
}

@media screen and (max-width: 768px) {
    .Titulo {
        font-size: 30px;
    }
    .texto {
        font-size: 3vw;
    }
    
}