.header {
  background-color: rgb(23, 19, 138); /* Color de fondo */
  color: #ffffff;
  margin-bottom: 1rem;
  padding: 10px 5px; /* Relleno, 10 arriba y abajo, 5 izquierda y derecha */
  display: flex; /* Mostrar como flex */
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Distribuir en columnas */
  gap: 2rem; /* Espacio entre elementos */
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.2rem;
  
  
  top: 0;
  width: 100%;
  
}