/* styles/ImagenConTextoYBoton.module.css */
.container {
  position: relative;
  width: 100%; /* Ajusta el tamaño según sea necesario */
  max-width: 800px; /* Ancho máximo de la imagen */
  
}

.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  top: 10px; /* Ajusta según la distancia que quieras desde la parte superior */
  left: 10px; /* Ajusta según la distancia que quieras desde el lado izquierdo */
  font-size: 24px;
  color: white;
  margin: 0;
}

.text2 {
  font-size: 18px;
}

.button {
  position: absolute;
  bottom: 10px; /* Ajusta según la distancia que quieras desde la parte inferior */
  left: 10px; /* Ajusta según la distancia que quieras desde el lado izquierdo */
  padding: 10px 20px;
  background-color: transparent; /* Fondo transparente */
  color: white;
  border: 2px solid white; /* Borde blanco */
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente visible al pasar el ratón */
}

.a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}